<div class="container admin-body">
    <div class="row admin-page-row">
        <div class="col">
            <h1>Администрирование</h1>
        </div>
    </div>
    <div class="row admin-page-row">
        <div class="col-8">
            <table class="result-table">
                <th colspan="2">База данных запросов</th>
                <% unless @rec.nil? %>
                    <% @rec.each do |record| %>
                        <tr>
                            <td><%= record.input %></td>
                            <td><%= record.json_responce %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <p>База данных пуста</p>    
                <% end %>
            </table>
        </div>
        <div class="col-4">
            <%= link_to 'Взять данные из БД', res_path, :class => 'button-def', :remote => true %>
            <div id="xml-data-output"></div>
        </div>
    </div>
</div>
