<div class="input-form">
    <h1>Введите диапазон</h1>
    <%= form_tag(result_path, :method => "get", remote: true) do %>
    <%= text_field_tag :n, "", class: 'input-field' %> <br/><br/>
    <%= submit_tag("Найти", {:class => 'button-def'}) %>
    <% end %>
</div>
<h1 class="def-text" id="result-text">Ваши последние результаты:</h1>
<ul id="output-list"></ul>
