* {
    margin: 0;
    padding: 0;
    font-family: "Product Sans";
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/11823.ttf");
}

html, body {
}

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 70px 40px 70px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 20px 45px -9px rgba(0, 0, 0, .5);
    border-radius: 50px;
    width: 400px;
}

.form-header {
    text-align: left;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0 60px 0;
    color: rgb(51, 51, 51);
}

.line {
    border-bottom: 1px solid #cecece;
    /*margin: 15px auto 15px auto;*/
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
}

.line input {
    width: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 10px 0 10px 0;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
}

.line input::placeholder {
    color: #cecece;
}

.radio-but {
    display: inline-block;
}

input[type="radio"]:checked + label {
    color: #FFFFFF;
}

span.big {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50% 50% 50% 50%;
}

.button {
    margin: 40px 0 10px 0;
}

input[type="submit"] {
    border: none;
    background: linear-gradient(#5C4FD4, #4A3CCC);
    cursor: pointer;
    border-radius: 50px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 10px 20px -9px rgba(0, 0, 0, .5);
    transition: 0.2s;
    color: white;
    font-size: 15px;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0 10px 20px -9px rgba(0, 0, 0, .5);
}