<p>
  <strong>Логин:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Пароль:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
