<div class="input-form">
    <h1>Введите диапазон</h1>
    <%= form_tag url_for(:action => 'result', :controller => 'main'), :method => 'get' do %>
    <%= text_field_tag :n, "", :class => 'input-field' %><br/><br/>
    Обработчик
    <%= select_tag 'handle', options_for_select(['Сервер', 'Браузер', 'Не обрабатывать']) %></br>
    <%= submit_tag 'Найти', :class => 'button-def', :id => 'submit-button' %>
    <% end %>
</div>