<div class="input-form">
    <h1>Введите диапазон</h1>
    <%= form_tag("/main/result", :method => "get") do %>
    <%= text_field_tag :n, "", class: 'input-field' %> <br/><br/>
    <%= submit_tag("Найти", {:class => 'button-def'}) %>
    <% end %>
</div>