// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 10px auto;
}

body {
    background-color: #131417;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #1E1F26;
    overflow: auto;
}

a {
    text-decoration: none;
}

.logo {
    padding: 10px 35px;
    color: white;
    width: 250px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    background-color: rgb(54, 211, 104);
    border-radius: 7px;
    transition: .2s;
    cursor: pointer;
}

.logo:hover {
    transform: rotateZ(-5deg) scale(1.2);
    transition: .2s;
}

.logo:active {
    outline: none;
}

.label-tag {
    color: white;
    font-size: 30px;
}

.input-form {
    margin: 60px auto;
    width: 400px;
    padding: 25px 35px;
    border-radius: 20px;
    background-color: #2C303A;
    font-weight: bold;
}

.result-table {
    padding: 5px;
    background-color: rgb(70, 76, 92);
}

.description {
    margin: 60px auto;
    width: 400px;
    padding: 25px 35px;
    font-weight: bold;
    color: white;
}

.description-header {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.description-main {
    margin-bottom: 15px;
}

.text-field {
    border-radius: 15px;
    border: none;
    background-color: #D5D7DE;
    padding: 5px 20px;
    width: auto;
    height: 25px;
    font-size: 17px;
    margin-top: 20px;
}

.submit-button {
    margin-top: 20px;
    background-color: rgb(54, 211, 104);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 17px 20px;
    transition: .2s;
}

.submit-button:hover {
    background-color: rgb(34, 134, 66);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.171);
    transform: translateY(-4px);
    transition: .2s;
    cursor: pointer;
}

.output-box {
    margin: 60px auto;
    width: 400px;
    padding: 25px 35px;
    border-radius: 20px;
    background-color: #2C303A;
    font-weight: bold;
    color: white;
}